# 환경 변수 파일 (보안 중요!)
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# WandB 로그
wandb/

# 데이터 파일
# data/*.csv
# data/*.zip
!data/.gitkeep
*.csv
*.zip
# 출력 파일
outputs/models/
# outputs/submissions/*.csv
outputs/*.png
!outputs/.gitkeep

# IDE 설정
.vscode/
.idea/